<div class="card">
    <div class="card-header">
    <h3 class="card-title"><%- pageTitle %></h3>    

    <div class="card-tools">
        <div class="input-group input-group-sm">
            <input type="text" id="search_number" name="table_search" class="form-control float-right" placeholder="جستجو بر اساس شماره تلفن">

            <div class="input-group-append">
                <button type="submit" class="btn btn-default" id="search_number_btn"><i class="fa fa-search" ></i></button>
            </div>
        </div>
    </div>
    </div>
    <div class="card-body table-responsive p-0">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>نام انگلیسی</th>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th>عملیات</th>
            </tr>
            <% data.forEach(element => { %>
                <tr>
                    <td><%- element.pageName %></td>
                    <td><%- element.pageTitle %></td>
                    <td><%- element.pageBody.substring(0 , 120) %></td>
                    
                    <td>
                        <a href="/dashboard/Page/<%- element.pageName %>" class="btn-sm btn-primary">مشاهده</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../partials/Component_Paginate.ejs' , {data}) %>
    </div>
</div>