<div class="card">
    <div class="card-header">
    <h3 class="card-title"><%- pageTitle %></h3>
    <h6 class="mt-2"><%- countTitle %> : <%- data.total || data.length %></h6>

    <div class="card-tools">
        <div class="input-group input-group-sm">
            <input type="text" name="table_search" class="form-control float-right" id="searched_name" placeholder="جستجو بر اساس نام محصول">

            <div class="input-group-append">
                <button type="submit" class="btn btn-default" id="search_product_btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    </div>
    <div class="card-body table-responsive p-0">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>انتشار</th>
                <th>وضعیت</th>
                <th>تعداد خرید</th>
                <th>تعداد موجود</th>
                <th>عملیات</th>
            </tr>
            <% data.docs.forEach(element => { %>
                <tr>
                    <td class="text-sm"><%- element.Title.substring(0 , 40) %></td>
                    <td class="text-sm"><%- element.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td class="text-sm"><%- moment(element.PublishDate).format('jYYYY/jMM/jD') %></td>
                    <% if(element.Salable) { %>
                        <td class="text-sm"><span class="badge badge-success">قابل فروش</span></td>
                    <% } else { %>
                        <td class="text-sm"><span class="badge badge-danger">غیر قابل فروش</span></td>
                    <% } %>
                    <td class="text-sm"><%- element.BuyCount %></td>
                    <td class="text-sm"><%- element.InventoryCount %></td>
                    <td>
                        <a href="/dashboard/delProduct/<%- element.id %>" class="btn-sm btn-danger" >حذف</a>
                        <a href="/dashboard/getProduct/<%- element.id %>" class="btn-sm btn-primary" >مشاهده</a>
                        <a href="/dashboard/getInterView/<%- element.id %>" class="btn-sm btn-warning" >بررسی اجمالی</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../partials/Component_Paginate.ejs' , {data}) %>   
    </div>
</div>